<div class="container header teal lighten-5">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align main-head">Quarantine TV Tracker</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m4 l4 push-m4 push-l4">
            <h4 class="center-align sec-head">Watchlist</h4>
            <p class="center-align instructions">Scroll through to see the shows queued in your watchlist</p>
            <div class="col s12 m12 l12 scroll-div">
            {{#each shows}}
            {{#unless watched}}
                {{> watchlist}}
            {{/unless}}
            {{/each}}
            </div>
        </div>
        <div class="col s6 m4 l4 push push-m4 push-l4">
            <h4 class="center-align sec-head">Favorites</h4>
            {{#if time}}
            <p class="center-align instructions">Scroll through to see the {{time}} hours of your favorite shows!</p>
            {{else}}
            <p class="center-align instructions">This is where the shows that you have watched will appear!</p>
            {{/if}}
            <div class="col s12 m12 l12 scroll-div">
            {{#each shows}}
            {{#if watched}}
                {{> favorites}}
            {{/if}}
            {{/each}}
            </div>
        </div>

        <div class="col s12 m4 l4 pull-l8 pull-m8">
            <h4 class="center-align sec-head">Add Show</h4>
            <p class="center-align instructions">Add the information for shows that you want watch during quarantine!</p>
            <form class="new-show">
                <input id="title" placeholder="Show Title">
                <input id="seasons" placeholder="Number of Seasons">
                <input id="episodes" placeholder="Episodes per Season">
                <input id="minutes" placeholder="Minutes per Episode">
                <input id="platform" placeholder="Platform (Netflix, Hulu, etc...)">
                <div class="center-align" style="margin-top: 5%">
                    <button id="add-btn" class="btn blue-grey lighten-1" type="submit" name="action">Add to Watchlist</button>
                </div>
            </form>
        </div>

    </div>

</div>
