.hidden {
    display: none;
}

.main-head {
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold !important;
}

.instructions {
    font-family: 'Asap', sans-serif;
}
.sec-head{
    margin-bottom:8%;
    font-family: 'Cabin Sketch', cursive;
}

.container {
    overflow: scroll !important;
    height: 100vh;
}

input {
    text-align: center;
}

::placeholder {
    color: black !important;
    opacity: 80%;
}
#add-btn {
    margin-left:auto;
    margin-right: auto;
}
.new-show {
    margin-top: 20%;
}

.heading {
    margin-top: 5%;
}

.card-action {
    padding:0px !important;
}

.scroll-div {
    max-height: 60vh;
    overflow: scroll;
}

.remove {
    width: 100% !important;
}

@media only screen and (max-width: 600px) {

.new-show{
    margin-top:5%;
}

}